.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 5rem 0;

  background: rgb(116, 36, 170);
  background: linear-gradient(
    90deg,
    rgb(110, 30, 163) 0%,
    rgb(243, 58, 58) 50%,
    rgb(248, 160, 38) 100%
  );
}
