mat-toolbar {
  padding: 0 40px;
  margin-bottom: -13px;
  background-color: #521bac !important;
}
.example-spacer {
  flex: 1 1 auto;
}
.title {
  margin-left: 20px;
  color: #ffc800;
}
.lg-btn {
  padding: 0px 20px;
  background-color: #f8c200;
  color: #521bac;
}
mat-icon {
  color: #ffc800;
}
